body{
    background-color:#0f172a; /* deep dark blue */
    font-family: Arial, sans-serif;
    color:#e2e8f0;
    display:flex;
    flex-direction:column;
    align-items:center;
}


form {
    margin-inline: auto;
    width: 90%;
}

table{
    background:#1e293b;
    border-collapse:collapse;
    padding:20px;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
    width: 100%;
    
}

th{
    color:#93c5fd;
    font-size:18px;
    padding:12px 18px;
    text-align:left;
    border-bottom:2px solid #334155;
}

td{
    padding:12px 18px;
    border-bottom:1px solid #334155;
}

tr:hover{
    background:#1d4ed8;
}

select{
    background:#0f172a;
    color:#e2e8f0;
    border:1px solid #3b82f6;
    padding:4px 8px;
    border-radius:5px;
}

select:focus{
    outline:none;
    border-color:#60a5fa;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
    margin-top:15px;
    transition:all 0.25s ease;
    width: 100%;
    margin-inline: auto;
    display: block;
}

button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
    box-shadow:0 5px 12px rgba(0,0,0,0.4);
}

button:active{
    transform:scale(0.97);
}

.resultt{
    margin-top:30px;
    font-size:22px;
    font-weight:600;
    color:#93c5fd;
    transition:0.3s;
}

h1{
    font-size:42px;
    font-weight:700;
    color:#e2e8f0;
    letter-spacing:1px;
    margin-bottom:25px;
    text-align:center;
}

h1 span{
    color:#60a5fa;   /* highlight BUET */
}
